block content 
  h1= title 
  form(id='forestForm', action="/resource/forestes", method="POST") 
    div.form-group 
        label.forestAttr(for='forest_location') forest_location
        input#forest_location(type='text', name='forest_location') 
    div.form-group 
        label.forestAttr(for='forest_size') forest_size
        input#forest_size(type='text', name='forest_size') 
    div.form-group 
        label.forestAttr(for='forest_name') forest_name
        input#forest_name(type='text',name='forest_name')
        span.validity 
    input(type="submit") 
 
  script. 
    document.forms['forestForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });
