extends layout 
 
block content
    h1= title
    if(toShow == null)
        h2 No instance to update
    else
        - let forestid = toShow._id 
        - let forest_location = toShow.forest_location
        - let forest_size = toShow.forest_size
        - let forest_name= toShow.forest_name

        div.row(class='mb-2') 
            div.mr-1 ID is 
            div #{forestid}  
        - let actionid = "/resource/forestes/" + forestid 
        form(id='forestForm', action=actionid, method="PUT") 
            div.form-group 
                label.forestAttr(for='forest_location') forest_location
                input#forest_location(type='text', name='forest_location',value = forest_location)
            div.form-group 
                label.forestAttr(for='forest_size') forest_size 
                input#forest_size(type='text', name='forest_size',value = toShow.forest_size ) 
            div.form-group 
                label.forestAttr(for='forest_name') forest_name
                input#forest_name(type='text', name='forest_name',value = forest_name) 
            input(type="submit") 
        
        script. 
            document.forms['forestForm'].addEventListener('submit', (event) => { 
            event.preventDefault(); 
            // TODO do something here to show user that form is being submitted 
            fetch(event.target.action, { 
                method: 'PUT', 
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
            }).then((resp) => { 
                return resp.json(); // or resp.text() or whatever the server sends 
            }).then((body) => { 
                alert("Update succeded") 
                // TODO handle body 
            }).catch((error) => { 
                // TODO handle error 
                alert("Save failed " + error ) 
            }); 
            });